/* .cover {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 999 !important;
} */

#main-card {
    height: 100vh;
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}

#img1 {
    /* z-index: 2; */
    height: 100%;
    width: 60%;
    object-fit: cover;
    object-position: center top;
}

#h1Text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    /* color: #000; */
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

button {
    background-color: green;
    color: #fff;
    border: 0px;
    padding: 5px 30px;
    border-radius: 6px;
    height: fit-content;
}

button:hover {
    background-color: rgba(0, 128, 0, 0.9);
}